@model JonJones.Models.Sportsman

@{
    ViewData["Title"] = "Biography";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name - Biography</h1>
    <p style="max-width: 700px; margin: auto;">@Model.Biography</p>

    <h2>Stats</h2>
    <ul class="list-unstyled">
        <li>🏆 Record: @Model.Record</li>
        <li>📏 Reach: @Model.Reach</li>
        <li>🥋 Style: @Model.Style</li>
    </ul>
</div>
